      <div class="row">
    <%= render 'shared/party_info' %>

    <div class="col-9">
      <div class="flex-child ingredient-container">
        <div class="title-ingredient">
          <div>

            <h2> Ingredient list </h2>
          </div>
          <div>
            <div class="download-btn">
              <i class="fas fa-download"></i>
              <%= link_to "Save list as PDF", party_ingredients_path(@party, format: :pdf)%>
            </div>

          </div>
        </div>
          <ul>
          <div>
          <%= raise %>
          <% @party.recipes.each do |recipe| %>
            <% recipe.ingredients.each do |ingredient| %>
            <li>
            <div class="ingredient">
              <div><%= check_box_tag ingredient, false %> <%= ingredient.name %></div>

              <div><%= recipe.title %></div>
            </div>
            </li>
            <% end %>
            <% end %>
          </div>
          </ul>
          <br>
      </div>

</div>
</div>
</div>
