<div class="flex-container">


      <div class="flex-child party-info-container">
        <h4><%= @party.status %></h4>
        <h2><%= @party.title %></h2>
        <hr>
        <p>ADDRESS</p>
        <h5><%= @party.address %><h5>
        <hr>
        <p>DATE</p>
        <h5><%= @party.date %><h5>
        <hr>
        <h5><p>THEME</p><h5>
        <%= @party.theme %>
          <hr>
        <h5><p>GUESTS</p><h5>
        <%= @party.attendancy %>
        <hr>
        <h5><p>INVITATION</p><h5>
        <%= image_tag "qr_code#{@party.title}.png", class: "qr-code" %>
        <br>
        <hr>
        <div class="edit-btn">
          <i class="fa-solid fa-pencil"></i>
          <%= link_to "Edit" %>
          <%# <button class="edit-btn"><i class="fa-solid fa-pencil"></i>&nbsp edit</button> %>
        </div>
      </div>


      <div class="flex-child ingredient-container">
        <div class="title-ingredient">
          <div>
            <h2> Ingredient list </h2>
          </div>
          <div>
            <div class="download-btn">
              <i class="fas fa-download"></i>
              <%= link_to "Save list as PDF", party_ingredients_path(@party, format: :pdf)%>
            </div>

          </div>
        </div>
          <ul>
          <div>
            <%# <% @party.recipes.each do |recipe| %>
            <%# <% recipe.ingredients.each do |ingredient| %>

            <% @party.ingredients.each do |ingredient| %>
            <li>
            <div class="ingredient">
              <div><%= check_box_tag ingredient, false %> <%= ingredient %></div>

              <%# <div class="amount"><%= "Amount" %>
            </div>
            </li>
            <% end %>
          </div>
          </ul>
          <br>
      </div>

</div>
<br>
