    <div class= "create-party-container center">
    <h1> Create your party! </h1>
    <ul class="nav nav-pills mb-3 center" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-name-tab" data-bs-toggle="pill" data-bs-target="#pills-name" type="button" role="tab" aria-controls="pills-name" aria-selected="true">Name and details</button>
      </li>
      <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-theme-tab" data-bs-toggle="pill" data-bs-target="#pills-theme" type="button" role="tab" aria-controls="pills-theme" aria-selected="false">Theme</button>
      </li>
      <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Guests</button>
      </li>

      <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-food-tab" data-bs-toggle="pill" data-bs-target="#pills-food" type="button" role="tab" aria-controls="pills-food" aria-selected="false">Dishes</button>
      </li>
      <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-recipe-tab" data-bs-toggle="pill" data-bs-target="#pills-recipe" type="button" role="tab" aria-controls="pills-recipe" aria-selected="false">Recipes</button>
      </li>
    </ul>
    <br>
      <div class="tab-content" id="pills-tabContent"
          data-controller="navtab-active">

        <div class="tab-pane fade show active" id="pills-name" role="tabpanel" aria-labelledby="pills-name-tab" tabindex="0">
          <h2>Name and details</h2>
          <%= simple_form_for @party do |f| %>
            <%= f.input :title, placeholder: "Name your dinner party" %>
            <%= f.input :address, placeholder: "Where is your dinner party" %>
            <%= f.input :date, html5: true %>
        </div>

        <div class="tab-pane new-theme fade" id="pills-theme" role="tabpanel" aria-labelledby="pills-theme-tab" tabindex="0" data-navtab-active-target="pages">
          <h2>Choose your theme</h2>
            <%= f.input :theme, collection: Theme::CATEGORY %>
        </div>

        <div class="tab-pane fade center" id="pills-contact" data-search-recipes-target="pages" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
          <h2>How many people are coming?</h2>
          <br>
          <div class="guest-card">
            <%= f.input :attendancy, placeholder: "0" %>
            </div>
        </div>

        <div class="tab-pane fade container" id="pills-food" role="tabpanel" aria-labelledby="pills-food-tab" tabindex="0">
          <div class="row align-items-start center">
            <h2>How many dishes do you like to make?</h2>
            <br>
              <div class="dishes-card col-3 center" ><%= f.input :appetizers, placeholder: "0"  %></div>
              <div class="dishes-card col-3 center" ><%= f.input :mains, placeholder: "0" %></div>
              <div class="dishes-card col-3 center" ><%= f.input :desserts, placeholder: "0" %></div>
          </div>
        </div>

        <div class="tab-pane fade" id="pills-recipe" role="tabpanel" aria-labelledby="pills-recipe-tab" tabindex="0">
        <div class="row">
          <div class="filter-container col-2" style = "background-color: none; border:1px solid black">
          <h2> Filter </h2>

          </div>
          <div class="recipe-search-container col-10">
            <div class="top-recipe-search-container">
            <h2>On the menu</h2>
            </div>
            <div class="recipe-container">
            <% @recipes.first(3).each do |recipe| %>
              <div class="recipe-card center">
              <div class="recipe-img" style="background-image: url(<%=recipe.photo_url%>); width: 300px; height: 150px; background-size: cover"></div>
              <p><%= recipe.title %><p>
              </div>
            <% end %>
            </div>

            <div class="bottom-recipe-search-container">
            <h2>Search from</h2>
            <div data-controller="search-recipes">
            <div>
              <%= simple_form_for new_party_path, method: :get, html: { data: { search_recipes_target: "form", action: "submit->search-recipes#search"}} do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "search recipes",
                data: {search_recipes_target: "input"}  %>
              <%= submit_tag "Search", class: "btn btn-primary" %>
              <% end %>
            </div>
            <div class="row" data-search-recipes-target="content">
            </div>
            </div>
            </div>
          </div>
</div>














        </div>
        <%# redirect_to party_recipe_search path %>
          <%= f.submit class: "btn submit-btn" %>
        <% end %>
      </div>
  <br>


  <%# <p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-bs-target
  </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    </div>
  </div> %>
