<body id = "green" data-controller="draggable">
  <div class= "create-party-container center" data-controller="navtab-active">
    <%# NAVIGATION TABS %>
     <div class="tabs d-flex center">
        <button class="btn btn-dark"  data-navtab-active-target="tab" data-action="click->navtab-active#show">Invite</button>
        <button class="btn" data-navtab-active-target="tab" data-action="click->navtab-active#show">Theme</button>
        <button class="btn" data-navtab-active-target="tab" data-action="click->navtab-active#show">Guests</button>
        <button class="btn" data-navtab-active-target="tab" data-action="click->navtab-active#show">Dishes</button>
        <button class="btn final-tab" data-navtab-active-target="tab" data-action="click->navtab-active#show">Recipes</button>
    </div>
    <%# CONTENTS %>
    <div class="tab-content-container">
      <%# INVITE TAB %>
      <div class="tab-content-invite display-a" data-navtab-active-target="content" data-attribute="Invite">
        <div class="row detail-container d-flex flex-row">
          <div class = "col-5">
            <%= image_tag "Dinner_party_1.png", class: "img-create"%>
          </div>
          <div class = "col-7 text-start invite-container">
            <p> First things first, give your party some details </p>
            <h2>Hey! It's <em><%= current_user.name %></em>,</h2>
            <%= simple_form_for @party, html: { class: 'form-horizontal' }, data: { action: "submit->draggable#sendData" } , wrapper: :horizontal_form do |f| %>
            <div class="inline-form col-12"><h2>Come to my &nbsp</h2><%= f.input :title, label: false, input_html: { data: { draggable_target: "title" }, class: "form-input-custom" }, placeholder: "party name?" %><h2>&nbsp!</h2>
            </div>
            <div class="inline-form col-12"><h2>It's at &nbsp</h2><%= f.input :address, label: false, placeholder: "where?", input_html: { data: { draggable_target: "address" }, class: "form-input-custom" } %></div>
            <div class="inline-form col-12"><h2>On &nbsp</h2><%= f.input :date, label: false, html5: true, input_html: { data: { draggable_target: "partydate" }, class: "form-input-custom" } %></div>
            <h2>See you there!<h2>
          </div>
        </div>
      </div>
      <%# THEME TAB %>
      <div class="tab-content-theme d-none" data-navtab-active-target="content" data-attribute="Theme">
        <div class="row">
          <div class="col-6 theme-container-left center">
            <br>
            <br>
            <br>
            <br>
            <h2>Any themes <br>or occasions?</h2>
            <%= image_tag "create_img2.png" %>
          </div>
            <div class="col-6 select-theme-container" >
            <div data-controller="select-theme">
              <div class="row justify-content-center">
                <div class="col-sm-12 text-center">
                  <div class="d-flex flex-wrap justify-content-center pt-4">
                    <% Theme::CATEGORY.each do |theme| %>
                      <div class="clickable" data-select-theme-target="theme" id="<%= theme %>" data-action="click->select-theme#select">
                        <p> <%= theme %> </p>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class= "d-none">
                <%= f.input :theme, collection: Theme::CATEGORY, input_html: { data: { select_theme_target: "input", draggable_target: "theme"  }} %>
              </div>
            </div>
            </div>
        </div>
      </div>
      <%# GUEST TAB %>

      <div class="tab-content-guests d-none" data-navtab-active-target="content" data-attribute="Guests">
      <div class = "row guest-form">
          <div class = "col-6">
          <%= image_tag "create_img1.png" %>
          <br>
          </div>
          <div class="col-6">
          <br>
          <br>
          <h2>How many people<br>are you inviting?</h2>
          <div class="guest-card center">
            <%= f.input :attendancy, placeholder: "0", label:false, input_html: { data: { draggable_target: "attendancy" }, class: "guest-input" }, class: "guest-form" %>
          </div>
          </div>
          </div>
        </div>
        <%# DISHES TAB %>
        <div class="tab-content-dishes d-none" data-navtab-active-target="content" data-attribute="Dishes">
        <div class = "row dishes-form">
          <div class="col-6">
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="row align-items-start center">
            <h2>How many dishes<br>would you like to make?</h2>
            <br>
            <div class="d-flex flex-row center">
              <div class="dishes-card col-3 center">
                <div>Appetizers</div>
                <div class="ps-3"><%= f.input :appetizers, placeholder: "0", input_html: { data: { draggable_target: "appetizers" },  class: "dish-input center" }  %></div>
              </div>
              <div class="dishes-card col-3 center">
              <div>Mains</div>
                <div class="ps-3"><%= f.input :mains, placeholder: "0", input_html: { data: { draggable_target: "mains" }, class: "dish-input center" } %></div>
              </div>
              <div class="dishes-card col-3 center">
              <div>Desserts</div>
                <div class="ps-3"><%= f.input :desserts, placeholder: "0", input_html: { data: { draggable_target: "desserts" }, class: "dish-input center" } %></div>
              </div>
            </div>
            </div>
            </div>
             <div class="col-6">
              <%= image_tag "create-img3.png", class: "img-dishes" %>
              </div>

        </div>
      </div>

      <%# END OF FORM %>
      <% end %>
      <%# RECIPES TAB %>
      <div class="tab-content-recipes d-none" data-navtab-active-target="content" data-attribute="Recipes">

        <div data-controller="search-recipes" class=" pt-3">

          <div class="container">
            <div class="row">
              <div class="col-6 search-recipe-container">
                <div class= "">
                 <h2>What's on the menu?</h2>
                 <br>
                  <%= simple_form_for new_party_path, method: :get, html: { data: { search_recipes_target: "form", action: "submit->search-recipes#search"}} do %>
                  <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: "Search for a recipe & drag it to the box!",
                    data: {search_recipes_target: "input"}  %>
                  <%= submit_tag "Search", class: "btn btn-primary d-none" %>
                  <% end %>
                  <br>
                </div>
                <div class="" id="ourlist"  data-search-recipes-target="content">
                </div>
                <%= link_to root_path do %>
                 <button class="btn create-party-btn" style="margin: 24px;" data-action="click->draggable#sendData"> LET'S CREATE A PARTY! &nbsp<i class="fa-solid fa-arrow-right"></i></button>
                <% end %>
                <div class="row" id="ourlist"  data-search-recipes-target="drag">
              </div>
              <br>
            </div>
              <%# <h4>Drag your menu here!<h4> %>
              <div class="col-6 choosen-container center" style="height:570px;" id="emptyspace"  data-search-recipes-target="empty">
              </div>

          </div>
        </div>
      </div>
    </div>
   <div class="footer-container">
    <button class="btn-group next-tab" data-action="click->navtab-active#next" data-navtab-active-target="link">NEXT &nbsp <i class="fa-solid fa-arrow-right"></i></button>
     <%# <button class="create-party-btn">Let's create a party! <i class="fa-solid fa-arrow-right"></i></button> %>
    <button class="btn-group back-tab" data-action="click->navtab-active#next" data-navtab-active-target="link"><i class="fa-solid fa-arrow-left"></i>&nbsp BACK</button>
  </div>
  </div>
  <br>
  <br>
</body>
