<div class="container">

<h1>Create a new party!</h1>
  <br>
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-name-tab" data-bs-toggle="pill" data-bs-target="#pills-name" type="button" role="tab" aria-controls="pills-name" aria-selected="true">Name and details</button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-theme-tab" data-bs-toggle="pill" data-bs-target="#pills-theme" type="button" role="tab" aria-controls="pills-theme" aria-selected="false">Theme</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Attendancy</button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-food-tab" data-bs-toggle="pill" data-bs-target="#pills-food" type="button" role="tab" aria-controls="pills-food" aria-selected="false">Dishes</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-recipe-tab" data-bs-toggle="pill" data-bs-target="#pills-recipe" type="button" role="tab" aria-controls="pills-recipe" aria-selected="false">Your tailored recipes</button>
    </li>
  </ul>

      <div class="tab-content" id="pills-tabContent"
          data-controller="navtab-active">
          <%# <input data-navtab-active-target="navtabActive" type="text"> %>

            <%# navtab_active_target: "navtabActive",
            action: "button->navtab-active#active",
            controller: "navtab-active"
            # data-action="event->controller-name#method-name" %>

        <div class="tab-pane fade show active" id="pills-name" role="tabpanel" aria-labelledby="pills-name-tab" tabindex="0">
          <h2>Name and details</h2>
          <%= simple_form_for @party do |f| %>
            <%= f.input :title, placeholder: "Name your dinner party" %>
            <%= f.input :address, placeholder: "Where is your dinner party" %>
            <%= f.input :date, html5: true %>

            <%# <div data-controller="" class="btn btn-primary">Next page</div> %>
            <%# <button class="btn btn-primary" data-action="click->navtab-active#active">Next</button> %>
        </div>

        <div class="tab-pane fade" id="pills-theme" role="tabpanel" aria-labelledby="pills-theme-tab" tabindex="0" data-navtab-active-target="pages">
          <h2>Choose your theme</h2>
            <%= f.input :theme, collection: Theme::CATEGORY %>
        </div>

        <div class="tab-pane fade" id="pills-contact" data-search-recipes-target="pages" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
          <h2>How many people are coming?</h2>
            <%= f.input :attendancy, placeholder: "Number of people coming" %>
        </div>

        <div class="tab-pane fade container" id="pills-food" role="tabpanel" aria-labelledby="pills-food-tab" tabindex="0">
          <div class="row align-items-start">
            <h2>How many dishes do you like to make?</h2>
              <div class="col-3" ><%= f.input :appetizers, placeholder: "appetizers"  %></div>
              <div class="col-3" ><%= f.input :mains, placeholder: "mains" %></div>
              <div class="col-3" ><%= f.input :desserts, placeholder: "dessert" %></div>
          </div>
        </div>

        <div class="tab-pane fade" id="pills-recipe" role="tabpanel" aria-labelledby="pills-recipe-tab" tabindex="0">
          <h2>Your recipes</h2>
            <%# <%= f.input :attendancy, placeholder: "Number of people coming" %>
            <%# <%= @recipes.sample(5) %>
            <%# <% raise %>
        </div>
        <%# redirect_to party_recipe_search path %>
          <%= f.submit class: "btn submit-btn" %>
        <% end %>
      </div>
  <br>

  <%# <p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-bs-target
  </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    </div>
  </div> %>

</div>
