<div class = "myrecipe-container">
  <h1>Recipes</h1>

<div class="search-form">
  <div class="mb-5 search-field" style="width: 40vw">
    <%= form_tag recipes_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control-recipe",
        placeholder: "Find a recipe"%>
      <%= submit_tag "Search", class: "search-buttonn"%>
    <% end %>
  </div>
</div>


<div class="row">
  <% @recipes.each do |recipe| %>
  <div class="col-6 d-flex">
  <%= link_to "#" do %>
    <div class="card-recipe">
      <img src="<%= recipe.photo_url %>" alt="Recipe Picture" class="picture-recipe">
      <div class="card-recipe-infos p-2">
        <h4><%= link_to recipe.title, "#", class: "recipe-title", style: "text-decoration: none" %></h4>
        <p><strong></strong><%= recipe.description %></p>
        <p><strong>Prep Time: </strong> <%= recipe.prep_time %> min</p>
  <% end %>
      </div>
<br>
    </div>
    </div>
  <% end %>
</div>
