<div class="container">
  <h1 class="mt-5 mb-5">R E C I P E S</h1>

<div class="center">
  <div class="mb-5" style="width: 40vw">
    <%= form_tag recipes_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a recipe"%>
      <%= submit_tag "Search", class: "btn btn-danger", style: "margin-left: 10px; color: white; background-color: rgba(73, 161, 93, 1); border: none" %>
    <% end %>
  </div>
</div>


<div class="row">
  <% @recipes.each do |recipe| %>
  <div class="col-6 d-flex">
    <div class="card-recipe">
      <img src="<%= recipe.photo_url %>" alt="Recipe Picture">
      <div class="card-recipe-infos p-2">
        <h4><%= link_to recipe.title, recipe_path(recipe), style: "text-decoration: none; color: rgba(73, 161, 93, 1)" %></h4>
        <p><strong>Description: </strong><%= recipe.description %></p>
        <p><strong>Prep Time: </strong> <%= recipe.prep_time %> min</p>
      </div>
<br>
    </div>
    </div>
  <% end %>
</div>
