<div class="container">
<ul>
  <h1><%= @recipe.title %></h1>

  <h3><%= @recipe.description %></h3>
  <li>Preparation time : <%= @recipe.prep_time %>min</li>
  <li>Ingredients: <%= @recipe.ingredients %></li>
  <li>Instructions: <%= @recipe.instructions %></li>
</ul>
</div>

<div>
  <%= button_to "Add to favourites", my_recipes_path, :method => "get" %>
</div>
</div>
