<!doctype html>
  <html>
  <head>
    <title>The Supper Club</title>
    <meta name="description" content="Our first page">
  </head>
  <body>
    <% if user_signed_in? %>
     <section class = "sign-in-home-container">
        <div class = "center">
        <h2> Hello <em><%= current_user.name %></em>! </h2>
        </div>
        <br>
        <div class="row text-left">
        <div class="col-sm-6 recent-container text-left">
          <h3>Your recent parties</h3>
          <br>
          <div class="card-recent-container pb-5" >
          <% @my_party.first(2).each do |party| %>
          <div class="card-party card text-left"
            style = "background-color:<%= @color.sample %>">
            <%= link_to party_path(party) do %>
            <div class="status"><p> <%= party.status %> </p></div>
            <%= image_tag "platedish.png", class: "party-card-img" %>
            <div class="text">
            <p> <%= party.date.strftime("%A, %b %d") %> </p>
            <h3> <%= party.title %> </h3></div>
            <% end %>
          </div>
            <% end %>
        </div>
            <button onClick="document.getElementById('scroll-target').scrollIntoView();" class ="view-btn">View all</button>
          </div>

          <div class="col-sm-6 new-party-container center">
          <%= link_to new_party_path do %>
          <%= image_tag "confetti.png", class: "confetti-img" %>
          <%= image_tag "Dinner_party_1.png", class: "create-img" %>
          <br>
          <br>
          <h3>Create a <br> new party!</h3>
          <br>
          <i class="fa-solid fa-arrow-right-long"></i>
          <% end %>
          <br>
          </div>
      </div>

    </section>
     <section class = "my-parties-container text-left">
      <hr>
      <br>
      <h3 class = "center" id="scroll-target"> My parties </h3>
 <br>
        <div class="card-recent-container pb-5 text-left" >
          <% @my_party.each do |party| %>
          <div class="card-party card text-left"
            style = "background-color:<%= @color.sample %>">
            <%= link_to party_path(party) do %>
            <div class="status"><p> <%= party.status %> </p></div>
            <%= image_tag "platedish.png", class: "party-card-img" %>
            <div class="text">
            <p> <%= party.date.strftime("%A, %b %d") %> </p>
            <h3> <%= party.title %> </h3></div>
            <% end %>
          </div>
            <% end %>
        </div>


     </section>
    <% else %>
      <div class="home-container">
        <section class = "home-top center" id="scroll-target">
        <%= image_tag "dots-left.png", class: "img-dots-left"%>
          <%= image_tag "dots-right.png", class: "img-dots-right"%>
          <%= image_tag "logo.png", class: "img-logo" %>
          <%= image_tag "plate.png", class: "img-plate"%>
          <button class = "start-btn"> <%=  link_to "Let's start planning your supper club!", user_session_path %>
          </button>
        </section>
        <%# <section class = "home-info center">
          <p>ABOUT</p>
          <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </h2>
        <%= image_tag "ellipse-green.png", class: "img-ellipse"%>
        <%# </section>  %>
      </div>
    <% end %>
  </body>
</html>
