      <div class="home-container">
        <section class = "home-top center">
        <%= image_tag "dots-left.png", class: "img-dots-left"%>
          <%= image_tag "dots-right.png", class: "img-dots-right"%>
          <%= image_tag "logo.png", class: "img-logo" %>
          <%= image_tag "plate.png", class: "img-plate"%>
          <button class = "start-btn"> <%=  link_to "Sorry, it seems like our server is experiencing difficulties.", user_session_path %>
          </button>
        </section>
      </div>
